@charset "UTF-8";

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

main h1{
    font-size: 2em;
}

.img-celebracao{
    width: 150px;
    height: 150px;
    margin: auto;
}